node_modules/
coverage/
logs/
history.json5
config.json5
build-info.json
/certs/
*.tgz

.env
.env.*
!.env.example

*.local.json5
!config.example.json5

data/config.json5
data/history.json5
data/certs/*
!data/certs/.gitkeep
